﻿@model YUMMY.Net.Models.Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Ürün Güncelleme </h2>


<form method="post" enctype="multipart/form-data" class="form-control">

    @Html.HiddenFor(x => x.ProductId)

    <label><strong>Kullanılan Resim</strong></label>
    <div class="text-center">
        <img src="@Model.ImageUrl" style="width:400px;height:300px" />
    </div>
    <br />

    <label><strong>Resim URL</strong></label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <label><strong>İsim</strong></label>
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    <label><strong>İçindekiler</strong></label>
    @Html.TextBoxFor(x => x.Ingredients, new { @class = "form-control" })
    <br />
    <label><strong>Ücret</strong></label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <label><strong>Kategori</strong></label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.kategoriler, new { @class = "form-control" })
    <br />
    <div class="text-center">
        <button class="btn btn-warning">Güncelle</button>
    </div>
    <br />

</form>