@model List<YUMMY.Net.Models.About>
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Hakkımızda daha fazla Bilgi Edinin</span> <span class="description-title">bilgi edinin</span></p>
    </div><!-- End Section Title -->

    @foreach(var item in Model)
    {

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="@item.ImageUrl" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezervasyon İçin Arayın</h3>
                    <p>@item.PhoneNumber</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                       @item.Description
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span> @item.Item1</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@item.Item2</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@item.Item3</span></li>
                    </ul>
                    <p>
                        @item.Description
                    </p>

                    <div class="position-relative mt-4">
                        <img src="@item.ImageUrl2" class="img-fluid" alt="">
                        <a href="@item.VideoUrl" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    }
</section>