@model YUMMY.Net.Models.Feature
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öne Çıkan Alanı Ekleme Alanı</h2>

<form method="post">
    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl) </div>
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Title) </div>
    <br />

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Description) </div>
    <br />

    <label>Video Url</label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.VideoUrl) </div>
    <br />

    <div class=" text-danger">@ViewBag.error</div>
    <button class=" btn btn-primary">Kaydet</button>
</form>