@model YUMMY.Net.Models.Event
@{
    ViewBag.Title = "EditEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Etkinlik Güncelleme</h2>

<form method="post">
    @Html.HiddenFor(m => m.EventId)


    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Açıklama </label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Fiyat </label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />


    <button type="submit" class=" btn btn-primary">Kaydet</button>

</form>


