@model YUMMY.Net.Models.Chef
@{
    ViewBag.Title = "UpdateChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    @Html.HiddenFor(m => m.ChefId)


    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Açıklama </label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button type="submit" class=" btn btn-primary">Kaydet</button>

</form>

